<h3>List of existing folders</h3>
<p>
    <% for(var i=0; i < folders.length; i++){%>
    <%=folders[i] + ", "%>
    <%}%>
</p>
<h3>List of existing quizzes</h3>
<p>
    <% for(var i=0; i < quizzes.length; i++){%>
    <%=quizzes[i] + ", "%>
    <%}%>
</p>