<ul>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/mc">MC</a></li>
    <li><a href="/addFolder">Add a new Logo Folder</a></li>
    <li><a href="/uploadImages">Upload Images into Existing Folder</a></li>
    <li><a href="/uploadQuizzes">Upload Quiz Files</a></li>
    <li><a href="/viewImages">View Images</a></li>
    <li><a href="/viewQuiz" >View Quiz</a></li>
    <li><a href="/deleteFolder">Delete Folder</a></li>
    <li><a href="/deleteQuiz">Delete Quiz</a></li>
</ul>