<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MC | Buzzer App</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
</head>
<body class="chat">
<audio id="applause">
    <source src="sounds/applause.mp3" />
    <source src="sounds/applause.ogg" />
</audio>
<audio id="zap">
    <source src="sounds/zap.mp3" />
    <source src="sounds/zap.ogg" />
</audio>
<audio id="boo">
    <source src="sounds/boo.mp3" />
    <source src="sounds/boo.ogg" />
</audio>
<audio id="gameover">
    <source src="sounds/gameover.mp3" />
    <source src="sounds/gameover.ogg" />
</audio>
<div class="chat__sidebar">
    <h3>Players</h3>
    <div id="users" ></div>
</div>

<div class="chat__main">
    <img src="images/button_medium.png" id="logoImage" alt="logo image" />
    <div id="questionDiv" class="centered-form__form">Click Next to start</div>
    <div class="chat__footer" >
        <form id="messageForm">
            <button type="button" id="nextButton">Next</button>
            <button type="button" id="acceptButton">Accept</button>
            <button type="button" id="rejectButton">Reject</button>
            <button type="button" id="secondChanceButton">2nd Chance</button>
            <select name="quizSelect" id="quizSelect">
                <% for(var i=0; i<files.length; i++) { %>
                <option>
                    <%= files[i] %>
                </option>
                <% } %>
            </select>

            <button type="button" id="loadButton">Load</button>
            <div id="gameOverDiv"> GAME OVER</div>
            <a href="/admin">Admin</a>
        </form>

    </div>

</div>


<script src="/socket.io/socket.io.js"></script>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="js/moment.js" type="text/javascript"></script>
<script src="js/mustache.js" type="text/javascript"></script>
<script src="js/deparam.js" type="text/javascript"></script>
<script src="js/mc.js"></script>
</body>
</html>