<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Authorized | Buzzer App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
    <link href="css/styles.css" type="text/css" rel="stylesheet"/>
</head>
<body class="centered-form">
    <div class="centered-form__form largefont">
        <p id="p1" class="largefont">
            You are not authorized to view this page.
            <br />
            <a href="/login" class="largefont">Login</a>
        </p>


    </div>
</body>
</html>